<div class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <div class="header-text-group">
                <h2 class="modal-title">Sync Your Sessions</h2>
                <p class="modal-subtitle">
                    Create or log back into your account to backup and sync
                    sessions across devices.
                </p>
            </div>
            <button
                type="button"
                id="btn-auth-modal-close"
                class="stats-expand"
            >
                <span data-template="close"></span>
            </button>
        </div>

        <span data-template="signupForm"></span>
        <span data-template="altAuth"></span>
    </div>
</div>
