body {
    background-color: #111318;
    min-height: 100vh;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodorro-timer {
    background-color: #2b2d35;
    border-radius: 32px;
    padding: 10rem;
}