<!doctype html>
<html lang="en">
    <head>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <script type="importmap">
            {
                "imports": {
                    "@material/web/": "https://esm.run/@material/web/"
                }
            }
        </script>
        <script type="module">
            import "@material/web/all.js";
            import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="pomodorro-timer" x-data="pomodorroTimer()">
            <div x-text="formatTime()"></div>

            <button
                @click="onPlayOrPause()"
                x-text="isPaused ? 'Play' : 'Pause'"
            ></button>
            <button @click="onReset()" x-show="isRunning">Reset</button>
        </div>
    </body>
    <script>
        const DURATION_SECS = 1500;
        const INCREMENT_SECS = 30;
        document.addEventListener("alpine:init", () => {
            Alpine.data("pomodorroTimer", () => ({
                isRunning: false,
                isPaused: true,
                timer: null,
                seconds: DURATION_SECS,

                init() {},
                onPlayOrPause() {
                    if (this.isPaused) {
                        if (!this.isRunning) {
                            this.isRunning = true;
                        }

                        this.isPaused = false;
                        this.timer = setInterval(() => {
                            if (this.seconds > 0) {
                                this.seconds--;
                            } else {
                                alert("Time is up!");
                                this.onReset();
                            }
                        }, 1000);
                    } else {
                        this.isPaused = true;
                        clearInterval(this.timer);
                    }
                },
                onReset() {
                    this.isRunning = false;
                    this.isPaused = true;
                    clearInterval(this.timer);
                    this.seconds = DURATION_SECS;
                },
                addTime() {
                    this.seconds += INCREMENT_SECS;
                },
                formatTime() {
                    MM = `${Math.floor(this.seconds / 60)}`.padStart(2, "0");
                    SS = `${this.seconds % 60}`.padStart(2, "0");
                    return `${MM}:${SS}`;
                },
            }));
        });
    </script>
</html>
