@import "@fontsource-variable/geist-mono";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-base: #111436;
    --color-accent: #7b7fc4;
}

body {
    background-color: var(--color-base);
    min-height: 100vh;
    font-family: "Geist Mono Variable", sans-serif;
}

.navbar {
    width: clamp(280px, 90%, 1080px);
    max-width: calc(100% - 32px);
    padding: 32px clamp(32px, 8vw, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar svg {
    fill: var(--color-accent);
    width: clamp(24px, 2.5vw, 32px);
    height: clamp(24px, 2.5vw, 32px);
    display: block;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navbar-title {
    font-size: clamp(18px, 1.8vw, 22px);
    font-weight: 500;
    color: var(--color-accent);
}

.unauthenticated-user {
    background: none;
    border: none;
    cursor: pointer;
}
